<div class="main_footer">
    <div class="footer_content">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'block-footer' -%}
                <div class="footer_icon">  
                    
                    <div class="image">
                        {%- if block.settings.image_icon != blank -%}
                            <img src="{{ block.settings.image_icon | img_url: 'master' }}" alt="{{block.settings.image_icon.alt}}">
                        {%- else -%}
                            {{ 'image' | placeholder_svg_tag }}
                        {%- endif -%}
                    </div>
                    <div class="text">
                        <p class="title">{{block.settings.title}}</p>
                        <p class="content">{{block.settings.content}}</p>
                    </div>
                </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
    <div class="footer_image">
        {%- if section.settings.image_car != blank -%}
                <img src="{{ section.settings.image_car | img_url: 'master' }}" alt="{{ section.settings.image_car.alt}}">
        {%- else -%}
                {{ 'image' | placeholder_svg_tag }}
        {%- endif -%}
    </div>
</div>
{% schema %}
{
    "name": "Test footer",
    "tag": "div",
    "class": "test footer",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_car",
            "label": "Image Car"
        }
    ],
    "blocks": [
        {
            "type": "block-footer",
            "name": "Block Footer",
            "settings": [
                {
                  "type": "header",
                  "content": {
                    "en": "Content"
                }
                },
                {
                   "type": "image_picker",
                   "id": "image_icon",
                   "label": "Image Icon"
               },
               {
                   "type":"text",
                   "id": "title",
                   "label" : "Title"
               },
               {
                   "type":"text",
                   "id": "content",
                   "label" : "Content"
               }
            ]
        }
    ],
    "presets": [
        {
            "name": "Test Layout",
            "category": "Advanced layout"
        }
    ]
}
{% endschema %}