{%- liquid
    assign setting  =  section.settings 
    assign collection = collections[section.settings.collection]
    assign rows =  section.settings.rows
    assign size = collection.products | size 
-%}
<div class="container">
    <div class="home-product-slide" id="home-product-section-{{section.id}}" data-section-type="slideshow">
        {%- unless collection.products == 0 -%}
            <div class="home-product-slide-title-button">
                <div class="home-product-slide-title">
                    <p>{{section.settings.title}}</p>
                </div>
                <div class="home-product-slide-button" id="home-product-slide-button-{{section.id}}">
                    <button class="home-product-slide-pre">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91127 0.338713L7.8364 0.256282C7.51196 -0.0591419 7.00145 -0.0834052 6.64839 0.183492L6.5636 0.256282L0.263604 6.38128L0.226346 6.41975L0.176701 6.47911L0.112204 6.57645L0.0641029 6.67508L0.0322606 6.76726L0.00621645 6.89667L0 7L0.00250908 7.06583L0.0182161 7.17563L0.0447643 7.27312L0.084306 7.37032L0.131396 7.45562L0.19772 7.54727L0.263604 7.61872L6.5636 13.7437C6.91508 14.0854 7.48492 14.0854 7.8364 13.7437C8.16083 13.4283 8.18579 12.932 7.91127 12.5887L7.8364 12.5063L3.0744 7.875H17.1C17.5971 7.875 18 7.48325 18 7C18 6.51675 17.5971 6.125 17.1 6.125H3.0726L7.8364 1.49372C8.16083 1.1783 8.18579 0.681968 7.91127 0.338713L7.8364 0.256282L7.91127 0.338713Z" fill="#BABCBF"/>
                        </svg>
                    </button>
                    <button class="home-product-slide-next">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0887 0.338713L10.1636 0.256282C10.488 -0.0591419 10.9985 -0.0834052 11.3516 0.183492L11.4364 0.256282L17.7364 6.38128L17.7737 6.41975L17.8233 6.47911L17.8878 6.57645L17.9359 6.67508L17.9677 6.76726L17.9938 6.89667L18 7L17.9975 7.06583L17.9818 7.17563L17.9552 7.27312L17.9157 7.37032L17.8686 7.45562L17.8023 7.54727L17.7364 7.61872L11.4364 13.7437C11.0849 14.0854 10.5151 14.0854 10.1636 13.7437C9.83917 13.4283 9.81421 12.932 10.0887 12.5887L10.1636 12.5063L14.9256 7.875H0.9C0.402944 7.875 0 7.48325 0 7C0 6.51675 0.402944 6.125 0.9 6.125H14.9274L10.1636 1.49372C9.83917 1.1783 9.81421 0.681968 10.0887 0.338713L10.1636 0.256282L10.0887 0.338713Z" fill="#14171A"/>
                        </svg>
                    </button>
                </div>
            </div>
        {%- endunless -%}
        
        {%- case rows -%}
            {%- when '1' -%}
                <div id="home-product-slide-{{section.id}}">
                    {%- for product in collection.products -%}
                        <div>
                            {%- render 'product-list' product:product -%}
                        </div>
                    {%- endfor -%}
                    
                </div>
            {%- when '2' -%}
                <div id="home-product-slide-{{section.id}}">
                    {%- liquid
                      assign loopCount = size | divided_by: 2.00 | ceil
                    -%}
                    {%- for i in (1..loopCount)-%}
                        {%- if forloop.first -%}
                            {%- assign offset = 0 -%}
                        {%- else -%}
                            {%- assign offset = offset | plus: 2 -%}
                        {%- endif -%}
                        <div>
                            {%- for product in collection.products offset: offset limit: 2 -%}
                                {%- render 'product-list' product:product -%}
                            {%- endfor -%}
                        </div>
                    {%- endfor -%}
                </div>
        {%- endcase -%}
        <script type="application/json" data-tns-config>
            {
                "container": "#home-product-slide-{{section.id}}",
                "items": 4,
                "swipeAngle": false,
                "speed": 400,
                "nav": false,
                "loop": false,
                "controlsContainer": "#home-product-slide-button-{{section.id}}",
                "edgePadding": 10,
                "gutter": 30,
                "mouseDrag": true,
                "preventScrollOnTouch": "force",
                "responsive": {
                "640": {
                    "items": 2
                },
                "700": {
                    "items": 3
                },
                "1250": {
                    "items": 4
                }
                }
            }
        </script>
    </div>
</div>
{% schema %}
{
    "name": "Home Product Slide",
    "class": "home product slide",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type":"collection",
            "id":"collection",
            "label":{
                "en":"Collection"
            }
        },
        {
          "type": "select",
          "id": "rows",
          "label" : {
            "en" : "Rows"
          },
          "options": [
           {
              "value": "1",
              "label": {
                "en": "1"
              }
           },
           {
             "value": "2",
             "label": {
               "en": "2"
             }
           }
          ]
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Slide Product",
            "category": "Advanced layout"
        }
    ]
}
{% endschema %}